<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners> 
		<listener class-name="ExITestListener.FailureConfig"></listener>
	</listeners>
  <test thread-count="5" name="Test" parallel="classes">
    <classes>
      <class name="ParallelTest.MyFirstTest"/>
      <class name ="ParallelTest.ParallelTestExample"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
